.profitable {
  background-color: #03453b;
  position: relative;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    border: 5px solid #ab8d60;
    top: 50px;
    bottom: 50px;
    left: 150px;
    right: 150px;
    z-index: -1;
  }
  &::after {
    content: "";
    width: 267px;
    height: 165px;
    background-repeat: no-repeat;
    background-image: url("../img/banner4.svg");
    position: absolute;
    background-size: contain;
    top: 72px;
    left: 169px;
    z-index: -1;
  }
}
.service2 {
  padding-top: 100px;
}
.profitable__wrapper {
  padding: 100px 0;
  background-repeat: no-repeat;
  background-image: url("../img/banner1.svg"), url("../img/banner2.svg"),
    url("../img/banner3.svg");
  background-position: left top, right top, left bottom;
}
.profitable__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.profitable__item {
  text-align: center;
  &::before {
    content: "";
    width: 55px;
    height: 45px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/card.svg");
    margin-bottom: 15px;
  }
}
.profitable__item__title {
  color: #ebebeb;
  font-size: 20px;
  font-weight: 600;
}
.profitable__title {
  color: #ebebeb;
  font-size: 36px;
  font-weight: 500;
  line-height: 100%; /* 36px */
  margin-bottom: 31px;
  text-align: center;
}

.profitable__item_text {
  color: #ebebeb;
  font-size: 16px;
  font-weight: 400;
}
@media screen and (max-width: 1650px) {
  .profitable__list {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  .profitable {
    &::before {
      content: "";
      left: 100px;
      right: 100px;
    }
    &::after {
      top: 58px;
      left: 120px;
      z-index: -1;
    }
  }
}
@media screen and (max-width: 1350px) {
  .profitable__list {
    max-width: 70%;
  }
}
@media screen and (max-width: 1000px) {
  .profitable__list {
    max-width: 95%;
    grid-template-columns: 1fr 1fr;
  }
  .profitable {
    &::before {
      top: 10px;
      bottom: 10px;
      left: 10px;
      right: 10px;
    }
    &::after {
      content: "";
      width: 105px;
      height: 62px;

      top: 68px;
      left: 41px;
      z-index: -1;
    }
  }

  .profitable__wrapper {
    background-size: 124px 74px, 107px 117px, 78px 92px;
  }
}

@media screen and (max-width: 578px) {
  .profitable__wrapper {
    padding: 50px 0;
  }
  .profitable__list {
    grid-template-columns: 1fr;
  }
  .profitable {
    &::after {
      width: 104px;
      height: 55px;
      top: 108px;
      left: 25px;
      z-index: -1;
    }
  }
}
